<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paytool.dao.UserMapper">
    <insert id="add" parameterType="User">
       insert into t_user(username,password,nickname,email,img) 
        value(#{username},#{password},#{nickname},#{email},#{img})
    </insert>
    <update id="update" parameterType="User">
       update t_user set
       username=#{username},nickname=#{nickname},password=#{password},email=#{email},img=#{img}
       where id=#{id}
    </update>
    <delete id="delete" parameterType="User">
		delete from t_user where id=#{id}
	</delete>
	<select id="find" parameterType="int" resultType="User">
	    select * from t_user where id = #{id}
	</select>
	<select id="findByUsername" parameterType="String" resultType="User">
	    select * from t_user where username = #{username}
	</select>
	<select id="list" resultType="User">
	    select * from t_user
	</select>
	
	<select id="findByPage" parameterType="map" resultType="User">
	    select * from t_user 
		
		limit #{pageOffset}, #{pageSize}  
	</select>
	
	<select id="getCount" parameterType="map"  resultType="Integer">
	    select count(*) from t_user  
	</select>
</mapper>